@import "parts/reset.css";
@import "parts/header.css";
@import "parts/home.css";
@import "parts/footer.css";
@import "parts/login.css";
@import "parts/product.css";
@import "parts/admin.css";
@import "parts/succes.css";
@import "parts/webshop-home.css";
@import "parts/about.css";
@import "parts/users-overview.css";

