@import "parts/reset.css";
@import "parts/header.css";
@import "parts/home.css";
@import "parts/footer.css";
@import "parts/login.css";
@import "parts/product.css";
@import "parts/add-product.css";
@import "parts/succes.css";
@import "parts/webshop-home.css";
@import "parts/about.css";
@import "parts/users-overview.css";
@import "parts/product-overview.css";
@import "parts/noscript.css";
@import "parts/floating-btn.css";
@import "parts/shopping-cart.css";
@import "parts/account-home.css";
@import "parts/admin-home.css";
@import "parts/filter-form.css";

