.reglog {
  display: grid;
  place-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.input-div {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 15px;
}

.input-div:last-of-type {
  margin-bottom: 0;
}

.i {
  margin-right: 15px;
  display: grid;
  place-items: center;
}

.reg-btn {
  margin-top: 15px;
}

.register-btn {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-color);
}

.m-less {
  margin-top: 15px;
}