.flex {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
}

.product-image-wrapper {
    background-color: var(--main-color);
    height: 500px;
    width: 500px;
    border-radius: 3px;
}

.product-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product-info {
    width: 520px;
}

.product-list-item {
    margin: 10px 0 10px 0;
    font-size: 18px;
}

.product-list-item:first-of-type {
    margin-top: 0;
}

.product-order-link {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
}

select {
    width: 25%;
    margin-left: 10px;
}

select:first-of-type {
    margin-left: 0;
}

.selects {
    display: flex;
    flex-flow: row wrap;
    margin: 15px 0 0 0;
}

.description {
    margin-top: 15px;
}

.desc-title {
    margin-bottom: 15px;
}

.smaller {
    font-size: 16px;
}

.sorter {
    width: 25%;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 0.2rem;
}

@media (max-width:1024px) {
    .flex {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .product-info {
        margin-top: 30px;
    }
}

@media (max-width:500px) {
    .flex {
        flex-flow: wrap;
    }

    .product-info {
        display: grid;
    }

    .description {
        margin-top: 25px;
    }
}