.shopping-cart {
    margin-top: 15px;
}

.shopping-cart-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--sub-color);
    border-radius: 3px;
    padding: 0 2.5rem 0 2.5rem;
    margin-top: 15px;
    color: var(--white);
}

.shopping-cart-info, .shopping-cart-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.item-margin {
    margin-right: 30px;
}

.small-image {
    max-width: 50px !important;
    max-height: 50px !important;
    width: 50px !important;
    height: 50px !important;
    background-color: var(--black) !important;
}

.black {
    color: var(--black);
}

.del-button {
    margin-left: 85%;
}

@media (max-width: 1024px) {
    .shopping-cart-item {
        height: 75px;
    }

    .del-button {
        margin-left: 70%;
    }
}

@media (max-width: 500px) {
    section.shopping-cart {
        padding: 0 15px 0 15px;
    }

    .shopping-cart-item {
        padding: 0 5px 0 5px;
        height: 50px;
        width: 100%;
    }

    .small-image {
        display: none !important;
    }

    .item-margin {
        margin: 5px;
    }

    .del-button {
        margin-left: 60%;
    }
}