.service {
    margin-top: 15px;
}

.service-wrapper {
    padding: 50px 20rem 50px 20rem;
}

.small-bar {
    width: 50px;
    height: 5px;
    background-color: var(--main-color);
    border-radius: 3px;
    margin: 5px 0 5px 0;
}

@media (max-width: 1024px) {
    .service-wrapper {
        padding: 50px 5rem 50px 5rem;
    }
}

@media (max-width: 500px) {
    .service-wrapper {
        padding: 0;
    }
}