.shopping-cart-btn {
    position: fixed;
    bottom: 15px;
    right: 2rem;
    background-color: var(--black);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.shopping-cart-btn:hover {
    background-color: var(--black);
}

.cart-btn {
    margin: 0;
}

.btn-link {
    color: var(--white);
}

.notification {
    position: fixed;
    border-radius: 50%;
    background-color: var(--notification);
    width: 20px;
    height: 20px;
    bottom: 50px;
    right: 35px;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

@media (max-width:1024px) {
    .shopping-cart-btn {
        right: 1rem;
    }

    .notification {
        right: 20px;
    }
}