.shopping-cart-btn {
    position: fixed;
    bottom: 15px;
    right: 2.7rem;
    background-color: var(--flt-btn-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.shopping-cart-btn:hover {
    background-color: var(--flt-btn-color);
}

.cart-btn {
    margin: 0;
}

.notification {
    position: fixed;
    border-radius: 50%;
    background-color: var(--flt-btn-color-sub);
    width: 20px;
    height: 20px;
    bottom: 50px;
    right: 45px;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}