header {
    height: 80px;
    background-color: var(--main-color);
    color: white;
}

.header {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 0.5rem;
    padding-top: 0;
}

.logo {
    flex: 2;
    padding: 1.3rem;
    padding-left: 2rem;
    padding-top: 1.3rem;
}

.logo-link {
    color: white;
    text-decoration: none;
}

.logo-img {
    width: 100px;
    height: 40px;
}

.menu {
    flex: 2;
    padding: 1rem;
    padding-top: 1.1rem;
}

.menu-wrap {
    padding: 0.7rem;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

a.nav-item {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
}

a.nav-item:hover {
    text-decoration: underline;
}

.actief {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(191,199,160);
    background-color: var(--white);
    transition: color 0.2s ease-out;
    border-radius: 6px;
    padding: 3px;
}

.hamburger {
    display: none;
}

.login {
    background-color: var(--white);
    color: black !important;
    border-radius: 5px;
    padding: 0 5px 0 5px;
}

i.left {
    margin-left: 5px;
}

a.login {
    background-color: var(--white);
    color: var(--main-color) !important;
}

/* Dropdown styling */

/* div.dropdown {
    position: absolute;
    top: 79px;
    width: 122px;
    background-color: var(--white);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.5rem;
    line-height: 2rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    z-index: 1;
}

.display {
    visibility: visible !important;
    opacity: 1 !important;
    transition: opacity 0.2s ease-in;
}

a.drop-link {
    color: black;
    cursor: pointer;
    transition: color 0.2s ease-out;
}

a.drop-link:hover {
    color: rgb(100, 100, 100);
    transition: color 0.2s ease-in;
} */

/* Responsive header styling */

@media (max-width: 1024px) {
    .menu {
        position: absolute; 
        top: 79px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        background-color: var(--main-color);
        padding: 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s ease-out;
        z-index: 2;
    }

    .menu-wrap {
        padding: 0;
    }

    .menu-list {
        flex-flow: column;
        line-height: 4rem;
        justify-content: center;
        margin-top: 10rem;
    }

    .hamburger {
        display: block;
        padding: 1.5rem;
        font-size: 20px;
        cursor: pointer;
        padding-top: 1.6rem;
    }

    .show {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }

    .dropdown {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    i.left {
        display: none;
    }
}