/* Card Styling */

div.home {
    margin-top: 15px;
}

div.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 15px;
    width: 100%;
}

div.card {
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3px;
    margin-right: 15px;
    margin-top: 15px;
    color: var(--white);
}

.text {
    padding-left: 5px;
}

.card-image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card-link {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease-in;
}

.card-link:hover {
    color: rgb(221, 221, 221);
    transition: color 0.2s ease-in;
}