/* begin van CSS voor registreren */

.containerlogin{
    margin-top: 100px;
    margin-bottom: 100px;
}

.gegevenslogin {
    font-family: 'Bitter', serif;
    text-align: center;
    color: white;
    margin-bottom: 2px;
}

.i{
	color: rgb(247,65,0);
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
    height: 45px;
    font-family: 'Bitter', serif;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: rgb(247,65,0);
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	color: rgb(247,65,0);
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: rgb(247,65,0);
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: rgb(247,65,0);
}

.input-div.pass{
	margin-bottom: 4px;
}

.vergeetenaanmeldknop {
	display: block;
	text-align: right;
	text-decoration: none;
	color: rgb(247,65,0);
	font-size: 0.9rem;
    transition: .3s;
}

.vergeetenaanmeldknop:hover{
	color: black;
}

.beginlogincontent .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.beginlogincontent h2{
	margin: 15px 0;
	color: rgb(247,65,0);
    text-transform: uppercase;
}

.beginlogincontent .gebruikersnaam.icoon{
	margin-top: 0;
}

.btn{
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-size: 200%;
	font-size: 1.2rem;
    background-color: rgb(247,65,0);
	color: white;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}

.btn:hover {
    color: white;
	background-color: black;
}

form {
    width: 360px;
}

.containerlogin {
    text-align: center;
    margin-left: 549px;
}

.welkom {
    font-size: 55px;
}

.onderwelkom {
    font-size: 18px;
}


