@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */

:root {
  --main-color: rgb(247, 65, 0);
  --sub-color: rgb(253, 96, 39);
  --light: rgb(248, 145, 107);
  --selection-color: rgb(255, 181, 154);
  --white: rgb(255, 255, 255);
  --broken-white: rgb(245, 245, 245);
  --black: rgb(0, 0, 0);
}

/* Special resets for certain browser elements */

::placeholder {
  color: var(--white);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px var(--light) inset !important;
  box-shadow: 0 0 0 30px var(--light) inset !important;
}

input:-webkit-autofill{
  -webkit-text-fill-color: var(--white) !important;
}

::-moz-selection { 
  color: var(--white);
  background: var(--selection-color);
}

::selection {
  color: var(--white);
  background: var(--selection-color);
}

/* Overall Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: var(--broken-white);
}

/* Reset of certain elements */

section {
  padding: 0px 2.5rem 0px 2.5rem;
}

button, .button, input[type=submit] {
  padding: 0.5rem;
  margin-top: 30px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  background-color: var(--main-color);
  color: var(--white);
  width: 100%;
  transition: background-color .3s ease-in-out;
  cursor: pointer;
  font-weight: 800;
}

button:hover, .button:hover, input[type=submit]:hover {
  background-color: var(--sub-color);
  transition: background-color .3s ease-in-out;
}

ul, ol {
  list-style-type: none;
}

input[type=password], input[type=text], input[type=email] {
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0.5rem;
  background-color: var(--light) !important;
  width: 350px;
  margin-top: 5px;
  color: var(--white) !important;
}

@media (max-width:500px) {
  input[type=password], input[type=text], input[type=email] {
    width: 250px;
  }
}

textarea {
  font-family: "Poppins", sans-serif;
  resize: none;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  color: var(--white);
  background-color: var(--light);
  margin-top: 5px;
}

@media (max-width:500px) {
  form {
    width: 250px;
  }
}