.webshop {
  margin-top: 15px;
}

.filter-bar {
  display: flex;
  height: 82px;
  background-color: var(--sub-color);
  margin-top: 15px;
  border-radius: 3px;
  padding: 0.5rem;
  color: var(--white);
}

.select-container {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 15px;
  width: 200px;
}

.select-container:first-of-type {
  margin-left: 0px;
}

.webshop-filter-select {
  width: 100%;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 0.2rem;
  margin-top: 10px;
}

.sub {
  padding: 0 !important;
  height: 25px !important;
  margin-top: 36px !important;
  color: var(--main-color) !important;
  background-color: var(--white) !important;
}

.label-check {
  display: flex;
  flex-flow: row nowrap;
}

.check-box {
  margin-left: 5px;
  margin-top: 2px;
}

@media (max-width: 500px) {
  .filter-bar {
    height: auto;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .select-container {
    margin-left: 0;
    width: 100%;
  }

  .label-check {
    justify-content: space-between;
  }
}
