.webshop {
   margin-top: 15px; 
}

.filter-bar {
    display: flex;
    height: 80px;
    background-color: var(--light);
    margin-top: 15px;
    border-radius: 3px;
    padding: 0.5rem;
    color: var(--white);
}

.select-container {
    margin-left: 15px;
    width: 200px;
}

.select-container:first-of-type {
    margin-left: 0px;
}

.webshop-filter-select {
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 0.2rem;
    margin-top: 10px;
}

.sub {
    padding: 0 !important;
    height: 25px !important;
    margin-top: 34px !important;
    color: var(--main-color) !important;
    background-color: var(--white) !important;
}

@media (max-width: 500px) {
    .filter-bar {
        height: auto;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .select-container {
        margin-left: 0;
        width: 100%;
    }
}