/* Admin Option Forms Styling */

.admin-name {
    margin-bottom: 30px;
}

.admin-options {
    margin-top: 15px;
    margin-bottom: 50px;
}

.admin-options-content {
    display: flex;
    flex-flow: column wrap;
    margin-top: 15px;
}

.admin-options-part {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.admin-options-part:first-of-type {
    margin-top: 0;
}

.ds-form-style {
    width: 350px;
    max-width: 350px;
    min-width: 350px;
}

@media (max-width: 500px) {
    .admin-options-part {
        flex-flow: column nowrap;
        justify-content: unset;
        align-items: unset;
    }

    .margin-left {
        margin-left: 0 !important;
    }

    .ds-form-style {
        margin-top: 50px;
    }

    .ds-form-style:first-of-type {
        margin-top: 0;
    }
}