/* Admin Option Forms Styling */

.admin-name {
    margin-bottom: 30px;
}

.admin-options {
    margin-top: 15px;
}

.admin-options-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 15px;
}

.ds-form-style {
    width: 350px;
    max-width: 350px;
    min-width: 350px;
}

@media (prefers-color-scheme: light) {
    .categories, .sectors {
        background-color: var(--dark-gray);
    }
}

@media (max-width: 500px) {
    .admin-home-wrapper {
        flex-flow: column nowrap;
    }

    .categories, .sectors, .small-users-overview, .small-products-overview {
        margin: 30px 0 0 0;
    }
}