.flex-new {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 10px;
}

.filter-search-bar, .radio-wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: 64px;
}

.search-input {
    margin-top: 0 !important;
    font-weight: bold;
    border: 3px solid var(--white) !important;
    background-color: var(--sub-color) !important;
}

.filter-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--sub-color);
    color: var(--white);
    padding: 0 0.5rem 0 0.5rem;
    margin-top: 5px;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.radio {
    width: unset;
    flex-flow: row nowrap;
    align-items: center;
}

.radio:first-of-type {
    margin-left: 15px;
}

.input_filter {
    margin-right: 5px;
}

.user-overview {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 30px;
}

.filter-select {
    margin-top: 0;
    width: 150px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 0.2rem;
}

.filter-btn {
    background-color: var(--white) !important;
    color: var(--main-color) !important;
    height: 25px !important;
    padding: 0 10px 0 10px !important;
}