.product-overview {
  margin-top: 15px;
}

.product-overview-searchbar {
  display: flex;
  flex-flow: row nowrap;
  height: 32px;
}

.product-filter-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--light);
  color: var(--white);
  padding: 0 0.5rem 0 0.5rem;
  margin-left: 20px;
  margin-top: 5px;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.radio {
  width: unset;
}

.radio:first-of-type {
  margin-left: 15px;
}

.products-overview {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 30px;
}

.product-record {
  width: 100%;
  background-color: var(--sub-color);
  color: var(--white);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 3px;
  margin-top: 15px;
}

tr.product-data-row:nth-last-of-type(odd) {
  background-color: orangered;
}

.product-records-table {
  width: 100%;
}

product-records-table .product-data-fields {
  display: flex;
  flex-flow: row nowrap;
}

.product-data {
  margin-right: 15px;
  margin-top: 2px;
}

.product-data:first-of-type {
  margin-left: 15px;
}

.small {
  width: 30px;
  height: 30px;
  margin: 0;
  background-color: var(--white);
  color: var(--main-color);
  margin-right: 5px;
  cursor: pointer;
}

.small:hover {
  background-color: var(--white);
}

.small-icon {
  display: grid;
  place-items: center;
}

.product-records-btns-cell {
  width: 15%;
}

.product-record-btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
