.users-overview {
    margin-top: 15px;
}

.users-overview-wrapper {
    color: var(--white);
}

.user-record {
    width: 100%;
    background-color: var(--sub-color);
    color: var(--white);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 3px;
    margin-top: 15px;
}

.user-data-fields{
    display: flex;
    flex-flow: row nowrap;
}

.user-data {
    margin-right: 15px;
    margin-top: 2px;
}

.user-data:first-of-type {
    margin-left: 15px;
}

.small {
    width: 30px;
    height: 30px;
    margin: 0;
    background-color: var(--white);
    color: var(--main-color);
    margin-right: 5px;
    cursor: pointer;
}

.small:hover {
    background-color: var(--white);
}

.small-icon {
    display: grid;
    place-items: center;
}

.user-record-btns {
    display: flex;
    flex-flow: row nowrap;
}